@use '/src/styles/vars';
@import 'src/styles/mixins';

.navbar {
  background-color: vars.$color-white;
  border-top: 1px solid vars.$color-grey2;
  width: 100%;
  flex-shrink: 0;


  &-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &-li {
    margin:0 20px;
  }

  &-img{
    width: 50px;
  }
}
