@use '/src/styles/vars';
@import 'src/styles/mixins';

/* MODAL INFORMATION PATIENT */

.modal-patient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: vars.$gutter;
  width: 90%;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 1px 6px -4px #000000; 
  box-shadow: 0px 1px 6px -4px #000000;
  border-radius: 5px;
  animation: fadein 2s;

  &-close {
    width: 30px;
    align-self: flex-end;
  }

  &-title {
    align-self: center;
    margin-bottom: vars.$gutter*1.5;
    padding: vars.$gutter/2 vars.$gutter*5;
    color: vars.$color-white;
    -webkit-box-shadow: 0px 1px 6px -4px #000000; 
    box-shadow: 0px 1px 6px -4px #000000;
    border-radius: 5px;
  }

  &-content {
    align-self: center;
    font-size: 14px;

  }

  &-pathologie {
    align-self: flex-start;
    font-weight: bold;
    color: vars.$color-primary-dark1;
    margin-top: vars.$gutter;
    font-size: 15px;
  }

  p {
    line-height: 1.4em;
  }

  &-edit {
    align-self: flex-end;
    font-style: italic;
    font-size: 13px;
    margin-bottom: vars.$gutter*2;
    color: vars.$color-grey4;
    text-decoration: underline;
  }
}

/* KEYFRAMES ANIMATION */

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
