@use '/src/styles/vars';
@import 'src/styles/mixins';

.form {
  @include formulaire-container();

  &-input {
    @include small-input();
  }

  &-button {
    @include formulaire-button();
  }

}

.create-patient {
  width: 100%;
  position: absolute;
  background-color: vars.$color-white;
  z-index: 3000;
  left: 0;

  &-title {
    margin:vars.$gutter  vars.$gutter*2;
    color: vars.$color-secondary-dark2;
    font-weight: bold;
  }

  &-close {
    position: absolute;
    top: vars.$gutter;
    right: vars.$gutter*3;
    width: 25px;
  }
}

