@use '/src/styles/vars';
@import 'src/styles/mixins';

.staff-card::-webkit-scrollbar {
  display: none;
}

.staff-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: vars.$gutter;
  margin: vars.$gutter*2 auto;
  background-color: vars.$color-grey;
  border-radius: 10px;
  width: 90%;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
  box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);
  overflow-y: scroll;
  -ms-overflow-style: none;

  &-add {
    position: absolute;
    top: vars.$gutter;
    right: vars.$gutter;
    width: 25px;
  }

  &-title {
    margin:vars.$gutter  vars.$gutter*2;
    color: vars.$color-secondary-dark2;
    font-weight: bold;
  }
}

.nurse-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}

.nurse-card {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: vars.$gutter auto;
 
  &-img {
    width: 40px;
    margin:vars.$gutter;
  }

  &-infos {
    font-size: 14px;
    color: vars.$color-grey4;
    margin:vars.$gutter/8;
  }

  &-name {
    font-size: 15px;
    font-weight: bold;
    color: vars.$color-primary;
    margin-bottom:vars.$gutter;
  }


}

