@use '/src/styles/vars';
@import 'src/styles/mixins';

.cabinet-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  padding: vars.$gutter/2;
  margin: 0 auto;
  width: 75%;
  

  &-edit {
    position: absolute;
    top: calc(1rem+20px);
    right: vars.$gutter;
    width: 25px;
  }

  &-title {
    color: vars.$color-secondary-dark1;
    align-self: center;
    margin: 20px 0 0 0;
    padding: vars.$gutter*2 ;
    font-size: 20px;
    font-weight: 700;
  }
}

.container-cabinet-infos {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: vars.$gutter/2.5;

  &-img {
    width: 30px;
  }

  &-title {
    color: vars.$color-secondary-dark2;
    padding-left: 10px;
  }
}
