@use '/src/styles/vars';
@import 'src/styles/mixins';

.form {
  @include formulaire-container();

  &-input {
    @include formulaire-input();

  }

  &-button {
    @include formulaire-button();
  }

}
