@use '/src/styles/vars';
@import 'src/styles/mixins';

.transmission {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  padding: vars.$gutter/2;
  margin: 0;

  &-h1 {
    font-family: 'Heebo', sans-serif;
    margin: vars.$gutter vars.$gutter*2 vars.$gutter*2 vars.$gutter*2;
    color: vars.$color-secondary-dark2;
    font-weight: bold;
    font-size: 20px;
  }
  
  &-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: vars.$gutter;
    width: 100%;
    
  }

  &-li {
    margin: 0;
    padding: 0 vars.$gutter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: vars.$color-secondary-dark1;
    border-radius: 15px;
    background-image: url('./icone_transmission2.svg');
    width: 100px;
    background-size:cover;
  }

  &-date {
    font-size: 16px;
    color: vars.$color-white;
    font-weight: bold;
  }

}
