@use '/src/styles/vars';
@import 'src/styles/mixins';

.transmission {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: vars.$gutter/2;
  margin: 0;

  &-h1 {
    font-family: 'Montserrat', sans-serif;
    margin: vars.$gutter vars.$gutter*2 vars.$gutter*2 vars.$gutter*2;
    color: #495866;
    font-weight: bold;
    font-size: 20px;
  }
  
  &-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: vars.$gutter;
    
  }

  &-li {
    margin: 0 vars.$gutter;
    padding: vars.$gutter vars.$gutter*2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fd6b6b;
    border-radius: 15px;
  }

  &-img {
    width: 50px;
  }

  &-date {
    font-size: 12px;
    font-style: italic;
    color: vars.$color-white;
    font-weight: bold;
  }

}
