@use '/src/styles/vars';
@import 'src/styles/mixins';

.transmission {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: vars.$gutter/2;
  margin: vars.$gutter auto;
  background-color: vars.$color-grey;
  border-radius: 10px;
  width: 90%;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
  box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);



  &-h1 {
    margin:vars.$gutter  vars.$gutter*2;
    color: vars.$color-secondary-dark2;
    font-weight: bold;
  }
  

  &-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: vars.$gutter;
    
  }

  &-li {
    margin: 0 vars.$gutter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-img {
    width: 50px;
  }

  &-date {
    font-size: 12px;
    font-style: italic;
    color: vars.$color-secondary-dark2;
    font-weight: bold;
  }




}
