@use '/src/styles/vars';
@import 'src/styles/mixins';

.cabinets {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: vars.$gutter;
  font-family: 'Nunito', sans-serif;
  min-height: 500px;
  max-height: 500px;
  overflow-y: hidden;
  justify-content: center;


  &-add {
    right: vars.$gutter*5;
    width: 30px;
  }
  
 &-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
 }
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
  padding: vars.$gutter vars.$gutter*2;
  width: 70%;
  padding-top: 50px;
}

.cabinets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: vars.$gutter;
  width: 100%; 
  margin: 0  auto;
  max-height: 495px;
  overflow: hidden;
  align-items: flex-start;
}

.cabinets-card {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: vars.$gutter;
  margin: vars.$gutter;
  width: 150px;

  &-add {
    margin-top: vars.$gutter;
    width: 25px;
  }

  &-style {
    color: vars.$color-secondary-dark2;
    padding: vars.$gutter/3;
    margin: vars.$gutter/2 0;
  }

  &-nbpatient {
    color: #f8778B;
    text-decoration: underline;
  }
}

#hospital0 {
  background-image: url('../../assets/images/hospital1.svg');
  width: 100px;
  height: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hospital1 {
  background-image: url('../../assets/images/hospital2.svg');
  width: 100px;
  height: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hospital2 {
  background-image: url('../../assets/images/hospital3.svg');
  width: 100px;
  height: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hospital4 {
  background-image: url('../../assets/images/hospital4.svg');
  width: 100px;
  height: 100px;
  background-position: bottom;
  background-repeat: no-repeat;
}
