@use '/src/styles/vars';
@import 'src/styles/mixins';

.cabinets-title {
  color: vars.$color-secondary-dark1;
  align-self: center;
  margin: 20px 0;
  padding: vars.$gutter*2 ;
  font-size: 20px;
  font-weight: 700;
 }

.cabinets-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: vars.$gutter;
  width: 100%; 
  margin: 0  auto;
  min-height: 380px;
  max-height: 380px;
  overflow-y: scroll;
  align-items: flex-start;
}

.cabinets-card {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: vars.$gutter;
  width: 150px;

  &-remove {
    margin-top: vars.$gutter;
    width: 25px;
  }

  &-name {
    color: vars.$color-secondary-dark2;
    padding: vars.$gutter/3;
    margin: vars.$gutter/2 0;
  }

  &-nbpatient {
    color: #f8778B;
  }
}

#hospital0 {
  background-image: url('../../assets/images/hospital1.svg');
  width: 70px;
  height: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hospital1 {
  background-image: url('../../assets/images/hospital2.svg');
  width: 70px;
  height: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hospital2 {
  background-image: url('../../assets/images/hospital3.svg');
  width: 70px;
  height: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
}

#hospital4 {
  background-image: url('../../assets/images/hospital4.svg');
  width: 70px;
  height: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.button-create-cabinet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: vars.$gutter/1.2 vars.$gutter*1.5;
  background-color:vars.$color-secondary-dark1;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.25);
  border-radius: 15px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  color: vars.$color-white;
  font-family: 'Roboto', sans-serif;

  &-add {
    width: 30px;
    margin-left: 10px;
  }

}
