@use '/src/styles/vars';
@import 'src/styles/mixins';

.cabinet-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: vars.$gutter/2;
  margin: vars.$gutter*4 auto;
  background-color: vars.$color-grey;
  border-radius: 10px;
  width: 90%;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
  box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);

  &-edit {
    position: absolute;
    top: vars.$gutter;
    right: vars.$gutter;
    width: 25px;
  }

  &-title {
    margin:vars.$gutter  vars.$gutter*2;
    color: vars.$color-secondary-dark2;
    font-weight: bold;
  }

  &-nbpatient {
    font-size: 14px;
    color: vars.$color-primary;
    font-weight: bold;
    text-decoration: underline;
    margin: vars.$gutter;
  }

  &-infos {
    color: vars.$color-grey4;
    margin:vars.$gutter/2;
  }
}
