@use '/src/styles/vars';
@import 'src/styles/mixins';

.searchbar {
    width: 60%;
    margin: vars.$gutter*2.5 auto vars.$gutter auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    position: relative;

    &-input {
      margin-top: vars.$gutter*1.5;
      padding: vars.$gutter;
      font-size: 18px;
      font-family: 'Heebo', sans-serif;
      height: 45px;
      width: 100%;
      border-radius: 15px;
      border: 1px solid transparent;
      border-top: none;
      border-bottom: 1px solid #DDD;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }

    &-input::placeholder {
      font-size: 18px;
      font-family: 'Heebo', sans-serif;
    }

    &-img {
      width: 30px;
      position: absolute;
      right: 20px;
    }
}

.searchbar-container {
  width: 100%;
  position: relative;
}

.searchResult {
  width: 90%;
  position: absolute;
  z-index: 1000;
  left: 5%;
  margin: vars.$gutter auto;
  padding: vars.$gutter;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: vars.$color-white;
  border: 1px solid rgb(219, 219, 219) ;
  border-radius: 15px;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
  font-family: 'Roboto', sans-serif;

  &-name {
    margin: vars.$gutter/2;
    color: vars.$color-secondary-dark1;
    font-size: 17px;
  }
}


