/* -- colors -- */

$color-primary-light3: #FEF1F0;
$color-primary-light2: #F6D0CB;
$color-primary-light1: #F1B8AE;
$color-primary: #ED7071;
$color-primary-dark1: #BF4040;
$color-primary-dark2: #4E1818;

$color-secondary: #559E97;
$color-secondary-dark1: #216C75;
$color-secondary-dark2: #294C51;
 

$color-white: #FCFCFC;
$color-grey: #ECEAEA;
$color-grey1: #D6D1D1;
$color-grey2: #978C8C;      
$color-grey3: #5E5555;
$color-grey4: #403A3A;

$color-border: #777;

$gutter: 0.5rem;






