@use 'reset';
@use 'vars';
@use 'mixins';

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Nobile:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  
  background-image: url('./forme_menu_1.svg'), url('./header_test_full.svg');
  background-position: left bottom -15px, right top;
  background-repeat: no-repeat, no-repeat;
  background-size:contain,contain;
  font-family: 'Roboto', sans-serif;
} 

.formulaire-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: vars.$gutter*2.5;
  padding: vars.$gutter/1.2 vars.$gutter*1.5;
  background-color:vars.$color-secondary-dark1;
  -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.25);
  border-radius: 15px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  color: vars.$color-white;
  font-family: 'Roboto', sans-serif;

  &-img {
    width: 30px;
    margin-left: 10px;
  }
}

.formulaire-title {
  color: #216c75;
  margin: 20px 0 0;
  padding: 1rem;
  font-size: 20px;
  font-weight: 700;
}
