@use '/src/styles/vars';
@import 'src/styles/mixins';

.primary {
  background-color: vars.$color-primary;
}

.secondary-dark1 {
  background-color: vars.$color-secondary-dark1;
}

.title-primary {
  color: vars.$color-primary;
  font-weight: bold;
  text-decoration: underline;
}

.title-secondary {
  color: vars.$color-secondary-dark1;
  font-weight: bold;
  text-decoration: underline;
}

// main container style

.patient-page {
  display: flex;
  flex-direction: column;
}

// under container style
.patient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: vars.$gutter;
  font-family: 'Nunito', sans-serif;

  &-title {
    margin:vars.$gutter*2;
    padding:vars.$gutter*1.5 vars.$gutter*3.5;
    color: vars.$color-white;
    font-weight: bold;
    background-color: vars.$color-secondary-dark2;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
    box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);
    max-width: 200px;
    text-overflow: ellipsis ;
    white-space: nowrap ;
    overflow: hidden ;
  }

  &-infos {
    position: absolute;
    top: 23px;
    right: vars.$gutter*4;
    width: 40px;
  }
}

// style patient name 

.patient-title-primary {
  margin:vars.$gutter;
  padding:vars.$gutter*1.2 0;
  color: vars.$color-white;
  font-weight: bold;
  font-size: 16px;
  background-color: vars.$color-primary;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
  box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);
  width: 95%;
  text-align: center;
}

// style button add entry

.patient-add-care {
  width: 100%;
  padding: vars.$gutter/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  color: vars.$color-secondary-dark2;

  &-img {
    width: 30px;
  }

  &-title {
    font-size: 17px;
    margin-left: 0.5em;
  }
}
