@use '/src/styles/vars';
@import 'src/styles/mixins';

.primary {
  background-color: vars.$color-primary;
}

.secondary-dark1 {
  background-color: vars.$color-secondary-dark1;
}

.patient-page {
  display: flex;
  flex-direction: column;
}

.patient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: vars.$gutter;
  font-family: 'Nunito', sans-serif;

  &-title {
    margin:vars.$gutter*2;
    padding:vars.$gutter*2 vars.$gutter*4;
    color: vars.$color-white;
    font-weight: bold;
    background-color: vars.$color-secondary-dark2;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
    box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);
  }

  &-infos {
    position: absolute;
    top: 27px;
    right: vars.$gutter*3;
    width: 40px;
  }
}

.patient-title-primary {
  margin:vars.$gutter;
  padding:vars.$gutter*1.5 0;
  color: vars.$color-white;
  font-weight: bold;
  font-size: 17px;
  background-color: vars.$color-primary;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
  box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);
  width: 95%;
  text-align: center;
}

.patient-add-care {
  align-self: flex-start;
  width: 100%;
  padding: vars.$gutter/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: vars.$color-secondary-dark2;

  &-img {
    width: 30px;
  }

  &-title {
    font-size: 17px;
    margin-left: 0.5em;
  }
}

// Style de la TIME LINE

.carnet-sante-container {
  font-family: 'Nunito', sans-serif;
  height: 350px;
  width: 100%;
  padding: vars.$gutter;
  overflow-y: scroll;
  -ms-overflow-style:none;
  display: flex;
  flex-direction: column;
}

.carnet-sante-container::-webkit-scrollbar {
  display: none;
}

.carnet-sante-entry {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    width:30%;
    font-size: 15px;
    padding-right: vars.$gutter;

    &-date {
      font-weight: bold;
      text-decoration: underline;
      color: vars.$color-secondary-dark2;
    }

    &-name {
     color: vars.$color-grey4;
    }
  }

  &-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2px;
    height: 100%;
    background-color: vars.$color-primary;

    &-img {
      width: 20px;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 1.5em;
    width: 71%;
    padding: vars.$gutter;

    &-tag {
      margin:vars.$gutter*2;
      padding:vars.$gutter*2 vars.$gutter*4;
      color: vars.$color-white;
      font-weight: bold;
      border-radius: 10px;
      -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
      box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);   
    }

    &-img {
      width: 25px;
    }
  }
}

.carnet-sante-entry:last-child {
  margin-bottom: vars.$gutter*2;
}

