@use '/src/styles/vars';
@import 'src/styles/mixins';


.tour::-webkit-scrollbar {
  display: none;
}

.tour {
  display: flex;
  height: 210px;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: vars.$gutter/2;
  margin: 0 auto;
  background-color: vars.$color-primary;
  border-radius: 10px;
  width: 90%;
  overflow-y: scroll;
  -ms-overflow-style:none;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75); 
  box-shadow: 0px 3px 4px 0px rgba(64,58,58,0.75);

  &-title {
    margin:vars.$gutter  vars.$gutter*2;
    color: vars.$color-white;
    font-weight: bold;
  }

  &-ul {
    width: 100%;
  }

  &-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: vars.$gutter vars.$gutter*3;
    margin: vars.$gutter;
    background-color: vars.$color-grey;
    border-radius: 10px;
    font-weight: 400;
    color: vars.$color-grey4;
  }

}
