@use '/src/styles/vars';
@import 'src/styles/mixins';


.tour::-webkit-scrollbar {
  display: none;
}

.tour {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  padding: vars.$gutter;
  margin: vars.$gutter;
  border-radius: 10px;
  overflow-y: scroll;
  -ms-overflow-style:none;
  height: 300px;

  &-check {
    width: 30px;
  }

  &-span-tag {
    display: inline-block;
    width: 80px;
    color: #97D6CB;
    font-weight: 100;
  }


  &-title {
    font-family: 'Montserrat', sans-serif;
    margin: vars.$gutter;
    color: #495866;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  &-ul {
    width: 100%;
  }

  &-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: vars.$gutter*3;
    margin: vars.$gutter*1.5;
    background-color: #27A693;
    border-radius: 17px;
    font-weight: bold;
    color: #fefefe;
    text-align: center;
    line-height: 1.3;
  }

}

.default-title-tour {
  color: vars.$color-white;
  font-weight: 700;
  font-family: Nunito,sans-serif;
  margin: 50px auto;
  align-self: center;
}


